<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Item List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Order Item List</h1>

        <ul class="employee-list">
            {% for item in order_items %}
            <li class="employee-item">
                <span class="employee-name">{{ item.order.customer.name }}</span>
                <a href="{% url 'orderitem_detail' item.id %}">View</a>
            </li>
            {% endfor %}
        </ul>
        {% if back_to_dashboard %}
            <a href="{% url 'dashboard_view' %}" class="link-button">Back</a>
        {% endif %}
        <a href="{% url 'orderitem_create' %}" class="link-button">Add</a>
    </div>
</body>
</html>
