{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Update Product</h1>
        <form method="post" action="{% url 'product_update' product.id %}" novalidate>
            {% csrf_token %}
            <!-- Replace these input fields with the respective form fields from your Product model -->
            <input type="text" name="name" value="{{ product.name }}" required>
            <input type="number" name="price" value="{{ product.price }}" required>
            <input type="number" name="quantity" value="{{ product.quantity }}" required>
            <!-- Add more input fields as needed -->
            <button type="submit">Update</button>
            <a href="{% url 'product_list' %}" class="link-button">Cancel</a>
        </form>
        
    </div>
</body>
</html>
